<header class="main-header">
  <div class="header-container">
    <!-- Logo Section -->
    <div class="logo-section">
      <a routerLink="/" class="logo-link">
        <img src="assets/images/deepHireLogo.png" alt="DeepHire Logo" class="logo-img" />
        <span class="logo-text">DeepHire</span>
      </a>
    </div>

    <!-- Public Navigation -->
    <nav class="main-nav" *ngIf="!isLoggedIn">
      <ul class="nav-list">
        <li class="nav-item"><a routerLink="/" class="nav-link active">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Resources</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
      </ul>
    </nav>

    <!-- Authenticated Navigation -->
    <nav class="main-nav" *ngIf="isLoggedIn">
      <ul class="nav-list">
        <!-- Role: ROLE_USER -->
        <ng-container *ngIf="isUser()">
          <li class="nav-item"><a routerLink="/feed" class="nav-link">Feed</a></li>
          <li class="nav-item"><a routerLink="/jobs" class="nav-link">Jobs</a></li>
          <li class="nav-item"><a routerLink="/network" class="nav-link">Network</a></li>
          <li class="nav-item"><a routerLink="/chat" class="nav-link">Messages</a></li>
          <li class="nav-item"><a routerLink="/search" class="nav-link">
            <i class="fas fa-search"></i>Search</a></li>
        </ng-container>

        <!-- Role: ROLE_ADMINCOMPANY or ROLE_RECRUITER -->
        <ng-container *ngIf="isAdminCompanyOrRecruiter()">
          <li class="nav-item"><a routerLink="/dashboard" class="nav-link">Dashboard</a></li>
          <li class="nav-item"><a routerLink="/manage-jobs" class="nav-link">Job Postings</a></li>
          <li class="nav-item" *ngIf="isAdminCompany()">
            <a routerLink="/recruiter-management" class="nav-link">Manage Recruiters</a>
          </li>

        </ng-container>

        <!-- Role: ROLE_ADMIN -->
        <ng-container *ngIf="isAdmin()">
          <li class="nav-item"><a routerLink="/admin-dashboard" class="nav-link">Admin Panel</a></li>
          <li class="nav-item"><a routerLink="/user-management" class="nav-link">Users</a></li>
          <li class="nav-item"><a routerLink="/company-management" class="nav-link">Companies</a></li>
        </ng-container>
      </ul>
    </nav>

    <!-- User Actions -->
    <div class="user-actions" *ngIf="!isLoggedIn">
      <a routerLink="/login" class="btn btn-login">Log In</a>
      <a routerLink="/register" class="btn btn-primary">Get Started</a>
    </div>

    <div class="user-actions" *ngIf="isLoggedIn">
      <div class="user-profile">
        <img *ngIf="userImg" [src]="'data:image/png;base64,' + userImg" alt="User Avatar" class="avatar-img" style="height: 50px;width: 50px;" />
        <img *ngIf="!userImg" src='assets/images/default-profile.png' alt="User Avatar" class="avatar-img" style="height: 50px;width: 50px;" />


      </div>
      <a (click)="logout()" class="btn btn-login">Log Out</a>
    </div>
  </div>
</header>
