<!-- post-display.component.html -->
<div class="post-container">
    <div class="post-header">
      <div class="user-info">
        <div class="avatar-container">
          <img [src]="post.author.avatar || 'assets/default-avatar.jpg'" alt="User Avatar" class="user-avatar">
        </div>
        <div class="user-details">
          <div class="user-name">{{post.author.name}}</div>
          <div class="user-title">{{post.author.title}}</div>
          <div class="post-time">
            <span>{{formatTimeAgo(post.timestamp)}}</span>
            <span *ngIf="post.edited"> • Edited</span>
          </div>
        </div>
      </div>
      <div class="post-actions">
        <button class="btn-follow">Follow</button>
        <button class="btn-more"><i class="fas fa-ellipsis-h"></i></button>
      </div>
    </div>
    
    <div class="post-content">
      <p [class.expanded]="showFullPost">{{post.content}}</p>
      <button *ngIf="post.content.length > 200 && !showFullPost" class="btn-see-more" (click)="toggleFullPost()">
        ...see more
      </button>
    </div>
    
    <div class="post-translation" *ngIf="post.translation && showTranslation">
      <div class="translation-header">
        <span>Translated to English</span>
        <button class="btn-hide-translation" (click)="toggleTranslation()">Hide</button>
      </div>
      <p>{{post.translation}}</p>
    </div>
    
    <div class="post-tags">
      <span *ngFor="let tag of post.tags" class="post-tag">#{{tag}}</span>
    </div>
    
    <div class="post-footer">
      <button class="btn-like">
        <i class="far fa-thumbs-up"></i> Like
      </button>
      <button class="btn-comment">
        <i class="far fa-comment"></i> Comment
      </button>
      <button class="btn-share">
        <i class="fas fa-share"></i> Share
      </button>
      <button class="btn-send">
        <i class="far fa-paper-plane"></i> Send
      </button>
    </div>
    
    <div class="post-translation-toggle" *ngIf="post.translation && !showTranslation">
      <button (click)="toggleTranslation()">Show translation</button>
    </div>
  </div>