.job-item:hover {
  background-color: #f1f5ff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.list-group-item.active {
  background-color: rgba(67, 97, 238, 0.1);
  border-color: var(--primary-color);
}

.card {
  transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.06);
}
