<div class="dashboard-container">

  <!-- Top section -->
  <div class="top-section">
    <app-welcome-card></app-welcome-card>
  
  </div>

  <!-- KPI Cards -->
  <app-kpi-cards></app-kpi-cards>

  <!-- Middle charts -->
  <div class="charts-grid">
    <app-application-status></app-application-status>
  
    <app-company-growth-chart></app-company-growth-chart>
   
  </div>
  <div class="charts-grid">
    <app-user-growth-chart></app-user-growth-chart>
    <app-job-posting-chart></app-job-posting-chart>
 
</div>
  <!-- Bottom section -->
  <div class="bottom-grid">
    <app-top-companies></app-top-companies>
    <app-top-5-by-copany-created></app-top-5-by-copany-created>
  </div>

</div>
